.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.home-logo {
  background: white;
  padding-top: var(--one);
  border-radius: 4px;
  text-decoration: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 700px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1434394354979-a235cd36269d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHxtb3VudGFpbnN8ZW58MHx8fHwxNjUzOTM3NDQ3&ixlib=rb-1.2.1&w=1500');
}

.home-t-t-h {
  color: #000000;
  width: 450px;
  font-size: 7rem;
  text-align: left;
  font-family: Merriweather;
}

.home-mission {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--two);
  padding-left: var(--two);
  padding-right: var(--two);
  flex-direction: column;
  padding-bottom: var(--two);
  justify-content: center;
  background-color: rgb(239 239 239 / 80%);
  border-radius: 20px;
}

.home-mission-head {
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: rgb(106 168 79 / 80%);
  border-radius: 10px;
}

.home-mission-text {
  line-height: 1.5rem;
  padding-top: var(--one);
  font-size: 1.05rem;
}

.home-mission-bullet {
  margin-left: var(--one);
}

.home-process {
  width: 100%;
  display: flex;
  padding: var(--three);
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}

.home-steps {
  width: 100%;
  display: grid;
  /*   align-items: center; */
  grid-row-gap: 20px;
  flex-direction: row;
  grid-column-gap: 20px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--two);
  justify-content: center;
}

.home-image {
  width: 90%;
  align-self: center;
  object-fit: cover;
}

.WHWbg {
  background-color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
}

.WHWcont {
  background-color: var(--white);
  padding-top: var(--three);
  padding-bottom: var(--two);
  width: 100%;
  height: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.WHWshape {
  background-color: var(--yellow);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WHWcard {
  padding: var(--one);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WHWshape-name {
  font-family: Merriweather;
  font-size: 1.5rem;
}

.WHWhead {
  font-family: Merriweather;
  font-size: 1.5rem;
  margin-top: var(--one);
  margin-bottom: 8px;
}

.WHWtxt {
  max-width: 200px;
  text-align: center;
}

@media(max-width: 991px) {
  .home-mission {
    margin-top: var(--two);
  }

  .home-steps {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 767px) {
  .home-hero {
    height: 800px;
    flex-direction: column;
  }

  .home-t-t-h {
    width: 100%;
    margin-top: 100px;
    text-align: center;
  }

  .home-mission {
    width: 90%;
  }

  .home-steps {
    flex-direction: column;
  }
}

@media(max-width: 479px) {
  .home-logo {
    margin-top: -16px;
  }

  .home-hero {
    height: 900px;
  }

  .home-t-t-h {
    font-size: 5rem;
    /* margin-top: 200px; */
  }

  .home-steps {
    grid-template-columns: 1fr;
  }

  .WHWcont {
    grid-template-columns: 1fr;
  }
}