.progress-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.currentGoal
{
	background-color: var(--dl-color-teamtinyhouse-white);
	padding: 10px;
	padding-bottom: 16px;
	box-shadow: 10px 10px 0px 0px #f1c232;
}
.currentGoalCont
{
	padding-left: 16px;
	padding-right: 16px;
}
.updateDesc a {
  text-decoration: underline;
}
@media(max-width: 479px) {
  .progress-even-update {
    flex-direction: column;
  }
}
