:root {
  --dl-space-space-unit: 16px;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-teamtinyhouse-grey: #c1c1c1ff;
  --dl-color-teamtinyhouse-black: #000000ff;
  --dl-color-teamtinyhouse-green: #6aa84fff;
  --dl-color-teamtinyhouse-white: #efefefff;
  --dl-color-teamtinyhouse-yellow: #f1c232ff;
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-teamtinyhouse-greengrey: #597959ff;
  --dl-color-teamtinyhouse-pistachio: #88d188ff;
}
.button {
  color: #000000;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.input {
  color: #000000;
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.textarea {
  color: #000000;
  cursor: auto;
  padding: 0.5rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.navLink {
  font-family: Nunito;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.homeNavBar {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}
.NavLogo {
  width: 75px;
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.navPagesLinks {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.step {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: 7px 7px 0px 0px #f1c232;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-teamtinyhouse-white);
}
.stepName {
  font-size: 2.25rem;
  font-family: Merriweather;
  font-weight: 700;
}
.stepNum {
  color: rgba(241, 194, 50, 0.6);
  font-size: 5rem;
  font-style: normal;
  text-align: center;
  font-family: timesnewroman;
  font-weight: 700;
  margin-bottom: -65px;
}
.stepTime
{
	color: var(--dl-color-teamtinyhouse-black);
  padding-top: 5px;
  padding-left: 7px;
  border-radius: 10px;
  margin-top: 20px;
	margin-bottom: -10px;
  padding-right: 7px;
  padding-bottom: 5px;
  background-color: var(--dl-color-teamtinyhouse-yellow);
}
.stepDesc {
  color: #595959;
  font-size: 1rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: left;
}
.socialIcon {
  fill: var(--dl-color-teamtinyhouse-yellow);
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.socialIcon:hover {    
  filter: brightness(0);
}
.footerCredit {
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footerCredits {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footerLogo {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footerImg {
  width: 100px;
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
}
.footerSocials {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-teamtinyhouse-white);
}
.navBar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(239, 239, 239, 0.6);
}
.oddUpdate {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-around;
}
.updateImg {
  width: 60%;
  height: 500px;
  box-shadow: 10px 10px 0px 0px #f1c232;
  object-fit: cover;
}
.updateInfo {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-teamtinyhouse-white);
}
.updateDate {
  color: var(--dl-color-teamtinyhouse-black);
  align-self: flex-start;
  padding-top: 5px;
  padding-left: 7px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 7px;
  padding-bottom: 5px;
  background-color: var(--dl-color-teamtinyhouse-yellow);
}
.updateName {
  color: var(--dl-color-teamtinyhouse-white);
  width: 100%;
  text-align: center;
  font-family: Merriweather;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: var(--dl-color-teamtinyhouse-green);
}
.updateDesc {
  font-size: 1rem;
  align-self: center;
}
.evenUpdate {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row-reverse;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-around;
}
.pageHeading {
  color: var(--dl-color-teamtinyhouse-white);
  font-size: 3rem;
  margin-top: var(--dl-space-space-threeunits);
  font-family: Merriweather;
  margin-bottom: var(--dl-space-space-threeunits);
}
.subTeamCard {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-teamtinyhouse-yellow);
  border-width: 5px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 25px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-teamtinyhouse-white);
}
.subTeamCardBG {
  flex: 0 0 auto;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  background-size: cover;
  background-color: var(--dl-color-teamtinyhouse-yellow);
}
.subTeamCardTxt {
  text-align: left;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.subTeamCardTxtBox {
  top: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: var(--dl-space-space-threeunits);
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
	opacity: 0;
}
.subTeamCardName {
  font-size: 1.75rem;
  margin-top: var(--dl-space-space-unit);
  font-family: Merriweather;
  text-decoration: none;
}
.ppl {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.person {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  box-shadow: 7px 7px 0px 0px #f1c232;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-teamtinyhouse-white);
}
.personImgBg {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-teamtinyhouse-yellow);
}
.personImg {
  width: 100%;
  height: 225px;
  opacity: 1;
  z-index: 0;
  object-fit: cover;
}
.personName {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Merriweather;
}
.personDesc {
  top: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  bottom: 100px;
  display: flex;
  opacity: 0;
  position: absolute;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}

.personLastName {
  color: var(--dl-color-teamtinyhouse-green);
  align-self: flex-start;
  margin-top: 0px;
  font-family: Merriweather;
}
.personName2 {
  align-self: flex-start;
  font-family: Merriweather;
  padding-top: var(--dl-space-space-unit);
}
.subteam {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.role {
  color: var(--dl-color-teamtinyhouse-white);
  margin-top: var(--dl-space-space-halfunit);
  padding-left: 6px;
  border-radius: 10px;
  padding-right: 6px;
  background-color: var(--dl-color-teamtinyhouse-yellow);
}
.subTeamImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  font-size: 16px;
  font-family: Nunito;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.heading {
  font-size: 32px;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .pageHeading {
    text-align: center;
  }
  .ppl {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 900px) {
  .ppl {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .NavLogo {
    width: 80px;
  }
  .footerImg {
    margin-left: 0px;
  }
  .footerSocials {
    margin-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .footer {
    flex-direction: column;
  }
  .updateImg {
    width: 50%;
  }
  .updateInfo {
    width: 40%;
  }
}
@media(max-width: 600px) {
  .ppl {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .homeNavBar {
    margin-top: 0px;
    flex-direction: column;
  }
  .NavLogo {
    width: 96px;
    margin-left: 0px;
  }
  .navPagesLinks {
    margin-top: var(--dl-space-space-twounits);
    margin-right: 0px;
  }
  .footerImg {
    padding-bottom: 0px;
  }
  .navBar {
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .oddUpdate {
    flex-direction: column;
  }
  .updateImg {
    width: 100%;
    margin-bottom: 0px;
  }
  .updateInfo {
    width: 100%;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .updateName {
    width: 100%;
  }
  .pageHeading {
    text-align: center;
  }
}
