:root {
  --half: 8px;
  --one: 16px;
  --onehalf: 24px;
  --two: 32px;
  --three: 48px;
  --grey: #c1c1c1ff;
  --black: #000000ff;
  --green: #6aa84fff;
  --white: #efefefff;
  --yellow: #f1c232ff;
  --dl-color-teamtinyhouse-greengrey: #597959ff;
  --dl-color-teamtinyhouse-pistachio: #88d188ff;
}

html {
  scroll-behavior: smooth;
}

html:hover {
  background-color: #000000;
}

.button {
  color: #000000;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #ffffff;
}

.input {
  color: #000000;
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #ffffff;
}

.textarea {
  color: #000000;
  cursor: auto;
  padding: 0.5rem;
  border-color: #000000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #ffffff;
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
}

.navLink {
  font-family: Nunito;
  margin-left: var(--one);
  margin-right: var(--one);
  text-transform: uppercase;
  text-decoration: none;
}

.navLink:hover {
  color: #c59400;
}

.navLinkHere {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.homeNavBar {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}

.burger {
  display: none;
}

.NavLogo {
  width: 75px;
  object-fit: cover;
  margin-left: var(--three);
  text-decoration: none;
}

.navPagesLinks {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--three);
  justify-content: space-between;
}

.step {
  display: flex;
  padding: var(--onehalf);
  box-shadow: 7px 7px 0px 0px #f1c232;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
}

.stepName {
  font-size: 2.25rem;
  font-family: Merriweather;
  font-weight: 700;
}

.stepNum {
  color: rgba(241, 194, 50, 0.6);
  font-size: 5rem;
  font-style: normal;
  text-align: center;
  font-family: timesnewroman;
  font-weight: 700;
  margin-bottom: -65px;
}

.stepTime {
  color: var(--black);
  padding-top: 5px;
  padding-left: 7px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: -10px;
  padding-right: 7px;
  padding-bottom: 5px;
  background-color: var(--yellow);
}

.stepDesc {
  color: #595959;
  font-size: 1rem;
  margin-top: var(--onehalf);
  text-align: left;
  line-height: 1.25rem;
}

.socialIcon {
  background-color: #f2b700;
  fill: var(--white);
  padding: 3px;
  border-radius: 7px;
  width: 30px;
  height: 30px;
  text-decoration: none;
}

.socialIcon:hover {
  background-color: var(--black);
}

.footerCredit {
  margin-bottom: var(--half);
  text-decoration: none;
}

.footerCredits {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footerLogo {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footerImg {
  width: 100px;
  object-fit: cover;
  margin-left: var(--three);
}

.footerSocials {
  flex: 0 0 auto;
  width: 275px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--three);
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white);
}

.navBar {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(239, 239, 239, 0.6);
}

.burgerLinks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
  position: fixed;
  top: 100px;
  right: -170px;
  background-color: var(--white);
  padding-top: var(--two);
  padding-bottom: var(--two);
  padding-left: var(--one);
  padding-right: var(--one);
  transition: 0.5s ease-out;
  z-index: 2;
  box-shadow: 0px 0px 5px 0px rgb(65, 65, 65);
  border-radius: 10px;
}

.homeNavBar .burgerLinks {
  top: 75px;
}

.oddUpdate {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  margin-top: var(--two);
  align-items: center;
  padding-top: var(--two);
  padding-left: var(--two);
  margin-bottom: var(--two);
  padding-right: var(--two);
  flex-direction: row;
  padding-bottom: var(--two);
  justify-content: space-around;
}

.updateImg {
  width: 60%;
  height: 500px;
  box-shadow: 10px 10px 0px 0px #f1c232;
  object-fit: cover;
}

.updateInfo {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--two);
  align-items: center;
  padding-top: var(--one);
  padding-left: var(--one);
  border-radius: 25px;
  padding-right: var(--one);
  flex-direction: column;
  padding-bottom: var(--one);
  background-color: var(--white);
}

.updateDate {
  color: var(--black);
  align-self: flex-start;
  padding-top: 5px;
  padding-left: 7px;
  border-radius: 10px;
  margin-bottom: var(--one);
  padding-right: 7px;
  padding-bottom: 5px;
  background-color: var(--yellow);
}

.updateName {
  color: var(--white);
  width: 100%;
  text-align: center;
  font-family: Merriweather;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: var(--one);
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: var(--green);
}

.updateDesc {
  font-size: 1rem;
  align-self: center;
}

.evenUpdate {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  margin-top: var(--two);
  align-items: center;
  padding-top: var(--two);
  padding-left: var(--two);
  margin-bottom: var(--two);
  padding-right: var(--two);
  flex-direction: row-reverse;
  padding-bottom: var(--two);
  justify-content: space-around;
}

.pageHeading {
  color: var(--white);
  font-size: 3rem;
  margin-top: var(--three);
  font-family: Merriweather;
  margin-bottom: var(--three);
}

.subTeamCard {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--one);
  border-color: var(--yellow);
  border-width: 5px;
  padding-left: var(--one);
  border-radius: 25px;
  padding-right: var(--one);
  flex-direction: column;
  padding-bottom: var(--one);
  background-color: var(--white);
}

.subTeamCardBG {
  flex: 0 0 auto;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  background-size: cover;
  background-color: var(--yellow);
}

.subTeamCardBG img {
  transition: opacity 0.5s ease-out;
}

.subTeamCardTxt {
  text-align: left;
  padding-left: var(--two);
  padding-right: var(--two);
}

.subTeamCardTxtBox {
  top: var(--half);
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: var(--three);
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.subTeamCardName {
  font-size: 1.5rem;
  margin-top: var(--one);
  font-family: Merriweather;
  text-decoration: none;
}

.ppl {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  padding-left: var(--three);
  padding-right: var(--three);
  padding-bottom: var(--three);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.person {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--one);
  position: relative;
  box-shadow: 5px 5px 0px 0px #f1c232;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  border-width: 4px;
  border-color: var(--yellow);
  border-radius: 20px;
}

.personImgBg {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--yellow);
}

.personImg {
  width: 100%;
  height: 225px;
  opacity: 1;
  z-index: 0;
  object-fit: cover;
  transition: opacity 0.5s ease-out;
}

.personName {
  align-self: flex-start;
  margin-top: var(--half);
  font-family: Merriweather;
}

.personDesc {
  top: var(--one);
  flex: 0 0 auto;
  width: 100%;
  bottom: 100px;
  display: flex;
  opacity: 0;
  position: absolute;
  align-items: center;
  padding-left: var(--onehalf);
  padding-right: var(--onehalf);
  flex-direction: column;
  justify-content: center;
}

.personLastName {
  color: var(--green);
  align-self: flex-start;
  margin-top: 0px;
  font-family: Merriweather;
}

.personName2 {
  align-self: flex-start;
  font-family: Merriweather;
  padding-top: var(--one);
}

.subteam {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}

.role {
  color: var(--white);
  margin-top: var(--half);
  padding-left: 6px;
  border-radius: 10px;
  padding-right: 6px;
  background-color: var(--yellow);
  text-align: center;
}

.subTeamImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  font-size: 16px;
  font-family: Nunito;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.heading {
  font-size: 32px;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.explainBox {
  margin-top: var(--three); 
  margin-bottom: var(--three); 
  padding: 16px;
  max-width: 600px;
  background-color: var(--white);
  box-shadow: 0px 5px 0px 0px #f1c232, 0px -5px 0px 0px #f1c232;
  line-height: 1.5rem;
  font-size: 1.15rem;
}

.explainBoxHead {
  text-align: center;
  font-size: 2rem;
  margin-top: var(--one);
  font-family: Merriweather;
  margin-bottom: var(--one);
}

@media (max-width: 1200px) {
  .pageHeading {
    text-align: center;
  }

  .ppl {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .ppl {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .NavLogo {
    width: 80px;
  }

  .footerImg {
    margin-left: 0px;
  }

  .footerSocials {
    margin-right: 0px;
    padding-bottom: var(--two);
  }

  .footer {
    flex-direction: column;
  }

  .updateImg {
    width: 50%;
  }

  .updateInfo {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .ppl {
    grid-template-columns: 1fr;
  }
}

/* @media(max-width: 500px) {
  .homeNavBar {
    margin-top: 0px;
    flex-direction: column;
  }
  .NavLogo {
    width: 96px;
    margin-left: 0px;
  }
  .navPagesLinks {
    margin-top: var(--two);
    margin-right: 0px;
  }
  .navBar {
    padding-top: var(--one);
    flex-direction: column;
    padding-bottom: var(--two);
  }
} */
@media (max-width: 500px) {
  .navPagesLinks {
    display: none;
  }
  .navBar {
    padding-top: var(--one);
    padding-bottom: var(--one);
    padding-left: var(--two);
    padding-right: var(--two);
  }
  .homeNavBar {
    padding-top: var(--one);
    padding-bottom: var(--one);
    padding-left: var(--two);
    padding-right: var(--two);
  }
  .burger {
    display: flex;
    margin-left: var(--one);
  }
  .NavLogo {
    width: 64px;
    margin-left: 0;
    padding-top: -10px;
    padding-bottom: -10px;
  }
  #burger_icon {
    width: 40px;
  }
  .navLink {
    font-size: 1.15rem;
  }
}

@media (max-width: 479px) {
  .footerImg {
    padding-bottom: 0px;
  }

  .oddUpdate {
    flex-direction: column;
  }

  .evenUpdate {
    flex-direction: column;
  }

  .updateImg {
    width: 100%;
    margin-bottom: 0px;
  }

  .updateInfo {
    width: 100%;
    margin-bottom: var(--two);
  }

  .updateName {
    width: 100%;
  }

  .pageHeading {
    text-align: center;
  }
}

.content {
  width: 100%;
  height: 80vh;
}
