/* Master Styles*/
body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  margin: 0px;
  background-color: #9c9691;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

/* Nav Bar Styles*/
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.nav-bar-right{
  display: flex;
  align-items: center;
}

.profile-pic img {
   height: 50px;
   width: 50px;
   border-radius: 50% !important;
   margin-left: 20px;
   margin-right: 20px;
}

.nav-bar-name {
   font-size: 1.25em;
    margin-right: 7px;
    text-align: right;
}

.nav-bar-left{
  display: flex;
}

.nav-bar > .nav-bar-left > div {
  margin-right: 20px;
  text-transform: uppercase;
}

.nav-bar-link {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-bar-link a {
  color: #00637a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-bar-link:hover {
  border-bottom: 1px solid #00637a;
}

.nav-bar-link a:hover {
  color: #00637a;
}

.active-nav-link {
   border-bottom: 1px solid #00637a;
}

.active-nav-link a {
   color: #00637a !important;
}

/* Portfolio Styles*/
.portfolio-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item {
  position: relative;
}

.item-background-image {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;     /* up/down centering */
  align-items: center; /* left/right centering */
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.item-heading {
  /* make heading look good here */
  color: white;
  text-shadow: 2px 2px 50px #000000;
}

.item-subtitle ul {
   display: flex;
   flex-direction: column;
   align-content: flex-start;
   align-items: flex-start;
}

.item-text a{
   transition: 1s;
   font-weight: 200;
   color: transparent;
}

.item-text:hover .item-subtitle a {
  color: lightseagreen;
}

.item-subtitle {
  transition: 1s;
  font-weight: 200;
  color: transparent;
}

.item-text:hover .item-subtitle {
  color: lightseagreen;
}

.img-darken {
  transition: 0.75s;
  filter: brightness(10%);
}

.img-brighten {
  transition: 0.75s;
  filter: brightness(100%);
}

/* About Styles*/
.two-columns {
   margin: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.portrait img{
   width: 100%;
}

.bio {
   padding: 30px;
}

.bio h1 {
   color: #00637a;
}

.bio p {
   color: black;
}

.resume a {
  color: #00637a;
  transition: color 0.5s;
  display: flex;
  justify-content: center;
}

.resume:hover {
  color: #007691;
}

/* Footbar Styles*/
footer {
   background-color: #75716d;
   padding: 20px;
   color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.credit {
   font-weight: lighter;
   font-size: 1em;
   color: #004158;
   font-weight: 500;
}

.social {
   display: inline-block;
   height: 63px;
   width: 63px;
   float: left;
   margin: 0 5px;
   overflow: hidden;
   background: #FFFFFF;
   border-radius: 50px;
   box-shadow: 0px 7px 5px #2a2a2aa1;
   transition: all 0.3s ease-out;
}

.social:hover{
   width: 220px;
}

.social a {
   text-decoration: none;
}

.icon {
   color: #00637a;
   display: inline-block;
   height: 64px;
   width: 64px;
   text-align: center;
   border-radius: 50px;
   box-sizing: border-box;
   line-height: 60px;
   transition: all 0.3s ease-out;
}

.icon i{
   font-size: 35px;
   line-height: 60px;
   transition: all 0.3s ease-out;
}

.social:hover .icon i{
   color: #fff;
}

.social:nth-child(1):hover .icon{
   background: #0a66c2;
}
.social:nth-child(2):hover .icon{
   background: #4267B2;
}
.social:nth-child(3):hover .icon{
   background: #161b22;
}
.social:nth-child(4):hover .icon{
   background: #e72323;
}

.social span {
   font-size: 20px;
   font-weight: 500;
   line-height: 60px;
   margin: 0px;
   transition: all 0.3s ease-out;
}

.social:nth-child(1) span{
   color: #0a66c2;
}
.social:nth-child(2) span{
   color: #4267B2;
}
.social:nth-child(3) span{
   color: #161b22;
}
.social:nth-child(4) span{
   color: #e72323;
   font-size: 14px;
}

/* mrdia query */
@media (max-width: 500px) {
   .profile-pic img {
      margin-left: 0px;
      margin-right: 0px;
   }

   .nav-bar > .nav-bar-left > div {
     margin-right: 10px;
   }
}

@media (max-width: 950px) {
   .portfolio-items {
     display: grid;
     grid-template-columns: 1fr 1fr;
   }

   .two-columns {
      margin: 0px;
   }
}

@media (max-width: 650px) {
   .portfolio-items {
      display: grid;
     grid-template-columns: 1fr;
   }

   .two-columns {
      display: grid;
      grid-template-columns: 1fr;
   }
}

/* Form styles */
.review-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 95%;
   height: 100%;
   background-color: #b0ff85;
}

.review {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
}
input:nth-child(1) {
   /* name field */
   border-radius: 10px 0 0 10px;
   text-align: center;
   width: 100%;
   font-size: 1rem;
}
input:nth-child(2) {
   /* color input */
   border-radius: 10px;
   height: 100%;
   width: 100%;
   font-size: 1rem;
}
input:nth-child(3) {
   /* post button */
   border-radius: 10px;
   font-size: 1rem;
   color: #00637a;
   width: 75px;
   height: 35px;
   margin-bottom: 20px;
}

textarea {
   resize: vertical;
   max-height: 150px;
   width: 400px;
   min-height: 100px;
   border-radius: 10px;
   font-size: 16px;
}

.comment-box {
   margin: 10px;
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

@media (max-width:600px) {
   textarea {
      width: 85%;
      max-height: 200px;
   }

   .review-box {
      width: 100%;
   }
}

input, textarea, button {
   outline: none;
   border: 3px solid #00637a;
   font-family: 'Oswald', sans-serif;
}

input:focus, textarea:focus {
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
   opacity: 1;
   background: #ddd;
}

input:hover, textarea:hover, button:hover {
   background: #ddd;
}

.review-heading {
   font-size: 27px;
   font-weight: bold;
   color: #00637a;
}

.info {
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.two-columns-reviews {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   width: 100%;
}

@media (max-width: 900px) {
   .two-columns-reviews {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
   }
}

button {
   border-radius: 10px;
   font-size: 1rem;
   color: #00637a;
   width: 100%;
   height: 35px;
   margin-bottom: 20px;
}


/* Experience styles */
.loader-box {
   width: 100%;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
}
.loader {
  margin: 30px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  align-items: center;

  border-top: 6px solid #00637a;
  border-bottom: 6px solid #00637a;
  border-left: 6px solid #E9FFF9;
  border-right: 6px solid #E9FFF9;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.experiences-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 95%;
}

#experiences {
   width: 100%
}

.experience {
   width: 90%;
   margin-top: 15px;
   margin-bottom: 15px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
   border: 3px solid #00637a;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   background-color: #c3c3c3;
}

.experience-name {
   text-align: center;
   font-size: 1.25rem;
}

.experience-comment {
   margin: 10px;
   margin-top: 0;
   text-align:left;
   font-weight: lighter;
}
